{ {% extends "base.html" %}}
{% block start %}
<body>
    <h1>Hello World, My name is Aditya Shah.</h1>
    <h1>This is from index.html</h1>
    <p> <a href='\contact\' >
        CONTACT PAGE
    </a></p>
    <p>  
        <a href='\about\' >
           ABOUT PAGE
        </a></p>
   
    <h1>Printing a List by django</h1>
    <!-- {{peoples}} -->
    <!-- Inserting the given data in a table -->
    <table class = "container">
        <tr>
            <th>Sn.no</th>
            <th>Name</th>
            <th>Age</th>
            <th>Can vote</th>
        </tr>
        {% for people in peoples%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{people.name}}</td>
            <td>{{people.age}}</td>
            <td>
            {% if people.age >= 18  %}
            👍:: Yes
            {% else  %}
            👎 :: NO
            {% endif %}
            </td>
        </tr>
        {% endfor %}
        <P> {{vegetables}} </p> <!-- passed a list-->
        <p> {% if "carrot" in vegetables %}
            Yes carrot is in the list
            {%else%}
            No not in the list 
            {% endif %}
        </p>

       <p>{{ text|truncatechars:40 }}</p> <!-- Limit the data via django template truncatechars -->
    </table>

</body>
</html>
{% endblock %}