<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Tutorial</title>
</head>
<body>
    <h1>Hello World, My name is Aditya Shah.</h1>
    <h1>This is from index.html</h1>
    <h1>Printing a List by django</h1>
    <!-- {{peoples}} -->
    <!-- Inserting the given data in a table -->
    <table>
        <tr>
            <th>Sn.no</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {% for people in peoples%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{people.name}}</td>
            <td>{{people.age}}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>