{% extends "base.html" %}
{% block start %}

<body>
    <h1>Student List</h1>
    <ul>
        {% for student in students %}
            <li>{{ student.name }} - Age: {{ student.age }} - Email: {{ student.email }} - Address: {{ student.address }}</li>
        {% endfor %}
    </ul>
    <p> <a href='\' >
        Home PAGE
    </a></p>
    <p>  
        <a href='\contact\' >
           CONTACT PAGE
        </a></p>
        <p>  
            <a href='\about\' >
               ABOUT PAGE
            </a></p>
            <p>  
           
</body>

{% endblock%}