{% extends "base.html" %}
{% block start%}

    <body style="background-color: #f5f9ff; font-family: 'Arial', sans-serif;">
        <!-- Project Title -->
        <div class="container text-center py-5">
            <h1 class="display-4 text-primary">Students Academic Information</h1>
            <p class="lead text-secondary">Here is the complete information of student academics </p>
            <hr class="w-50 mx-auto" style="border-top: 2px solid #007bff;">
        </div>
        <div class = "container border border-primary rounded-3 p-4 mt-3" style="border-width: 5px;">
        <div class="mt-5">
           
            <h3 class="text-center text-secondary">Student's Report Card</h3>
            <h4 > Rank: {{queryset.first.student.studentreportcard.first.student_rank}} <h4>
            <h4> Total: {{total_marks.total_marks}}<h4>
            <table class="table striped table-bordered table-hover text-center mt-3 styled-table border border-primary rounded p-4">

                <tbody>
                    {% for marks in queryset %}
                    <tr>
                        <th scope="row"> {{forloop.counter}}</th>
                        <td>{{ marks.subject.subject_name}}</td>
                        <td>{{ marks.marks}}</td>
                        {% comment %} <td>{{ marks}}</td> {% endcomment %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- PAGINATION -->

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
            
                    {% if queryset.has_previous %}
        
                    {% if request.GET.search == '' %}
                    <a class="page-link" href="?page={{ queryset.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    {% else %}
                    <a class="page-link" href="?search={{ request.GET.search }}&page={{ queryset.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    {% endif %}
                    {% endif %}
                  </li>
                 {% for num in page_list %}    
                 {% if request.GET.search == '' %}
                  <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                 {% else %}
                 <li class="page-item"><a class="page-link" href="?search={{ request.GET.search }}&page={{num}}">{{num}}</a></li>
                  {% endif %}
                  {% endfor %}
            
                  <li class="page-item">
                    {% if queryset.has_next %}
                    {% if request.GET.search == '' %}
                    <a class="page-link" href="?page={{ queryset.next_page_number }}" aria-label="Next">  
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    {% else %}
                    <a class="page-link" href="?search={{ request.GET.search }}&page={{ queryset.next_page_number }}" aria-label="Next">  
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                      {% endif %}
                    {% endif %}
                  </li>
                </ul>

    </body>
  
    {% endblock %}
    
