{% extends "base.html" %}
{% block start%}

    <body style="background-color: #f5f9ff; font-family: 'Arial', sans-serif;">
        <!-- Project Title -->
        <div class="container text-center py-5">
            <h1 class="display-4 text-primary">Students Information</h1>
            <p class="lead text-secondary">Here is the complete information of student</p>
            <hr class="w-50 mx-auto" style="border-top: 2px solid #007bff;">
        </div>
        <div class = "container border border-primary rounded-3 p-4 mt-3" style="border-width: 5px;">
        <div class="mt-5">
            <br>
            <h3 class="text-center text-secondary">Students</h3>
            <table class="table striped table-bordered table-hover text-center mt-3 styled-table border border-primary rounded p-4">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Department</th>
                        <th>Name</th>
                        <th>EMAIL</th>
                        <th>Age</th>
                        <th>Address</th>
                        

                    </tr>
                </thead>
                <tbody>
                    {% for student in queryset %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ student.student_id}}</td>
                        <td>{{ student.department}}</td>
                        <td>{{ student.student_name}}</td>
                        <td>{{ student.student_email}}</td>
                        <td>{{ student.student_age}}</td>
                        <td>{{ student.student_address}}</td>
                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </body>
  
    {% endblock %}
    
